{
  "presets": [
    "@babel/preset-env",
    [
      "@babel/preset-react",
      {
        "pragma": "TinyReact.createElement"
      }
    ]
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}